.openLinkClass{
	color:#18bc9c !important;
}

.crop {
	width: 100%;
	height: 350px;
	overflow: hidden;
	content: "\f005";
}

.crop img {
	width: 120%;
	height: 300px;
	margin: -75px 0 0 -100px;
}

.caption{
	height: 250px;
}


.carousel-control { 
	background: none !important; filter: none !important; progid:none !important; 
}

.linkInCarrousel{
	color:#FFFFFF !important;
}



.topBarScroll {
	    border-radius: 5px !important;	
}

/*
.topBarScroll:hover {
	border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #18bc9c;
}

*/



.scroller{

}



.workBox{
	border-style: solid;
   	border-width: 0px 0px 5px 0px;
	border-color: #ffffff;
	transition: 1s ease;   
}

.workBox:hover{
    border-color: #18bc9c;   
    -webkit-transform: rotateZ(-5deg);
	-ms-transform: rotateZ(-5deg);
	transform: rotateZ(-10deg);
	transition: 1s ease; 
}
.workBoxPositiveRotate:hover{
    border-color: #18bc9c;   
    -webkit-transform: rotateZ(5deg);
	-ms-transform: rotateZ(5deg);
	transform: rotateZ(10deg);
	transition: 1s ease; 
}


.workBox h3{
	text-align: center;
	word-wrap: break-word;

}

.progress{
	height: 35px;
}



.workBox img{
	display: inline;
	height:90%;
	width:90%;
}

.emailLink{	
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-weight: 700;
  	text-transform: lowercase;
}

